# GitIgnore : show only modules, addons and the headtemplate

.DS_Store

/*
!/.gitignore
!/README.md

!/htdocs
/htdocs/*

!/htdocs/vendor

!/htdocs/ressources
/htdocs/ressources/css/*.min.*
/htdocs/ressources/css/modules/*.min.*
/htdocs/ressources/js/*.min.*
/htdocs/ressources/js/modules/*.min.*

!/htdocs/redaxo
/htdocs/redaxo/*
!/htdocs/redaxo/data
/htdocs/redaxo/data/*
!/htdocs/redaxo/data/addons
/htdocs/redaxo/data/addons/*
!/htdocs/redaxo/data/addons/developer

/htdocs/redaxo/data/addons/developer/templates/*
!/htdocs/redaxo/data/addons/developer/templates/Head
!/htdocs/redaxo/data/addons/developer/templates/PN-Kickstarter
!/htdocs/redaxo/data/addons/developer/templates/Constructor

!/htdocs/redaxo/src
/htdocs/redaxo/src/*
!/htdocs/redaxo/src/addons
/htdocs/redaxo/src/addons/*

!/htdocs/redaxo/src/addons/assets
!/htdocs/redaxo/src/addons/bloecks
